@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  padding-bottom: 2rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.overlay.active {
  display: block;
}

.mobileNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 20;
}

.burger {
  display: none;
}

.heroImage {
  position: relative;
  width: 100%;
  height: 262px;
}

.heroImage img {
  object-fit: cover;
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }
  .desktopNav {
    display: none;
  }
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "hero hero news"
    "hero hero news"
    "posts posts posts";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}

@media (max-width: 767px) {
  .gridContainer {
    grid-template-areas:
    "hero"
    "news"
    "posts";
    grid-template-columns: 1fr;
  }
}

@media (max-width: 991px) {
  .gridContainer {
    grid-gap: 0.75rem;
  }
}

.hero {
  grid-area: hero;
}

.news {
  grid-area: news;
}

.posts {
  grid-area: posts;
}

.posts img {
  object-fit: cover;
}

@media (max-width: 991px) {
  .posts img {
    width: 80px !important;
    object-fit: fill;
  }
  .imgContainer {
    width: 80px !important;
  }
}

@media (max-width: 767px) {
  .posts p {
    max-width: 200px;
  }
}